<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveySystem.Mapper.DepartmentSurveyMapper">
    <!-- 新增部门问卷记录，通过联表查询获取department_name -->
    <insert id="assignToDepartment" parameterType="DepartmentSurvey">
        INSERT INTO department_survey (department_id, department_name, survey_id, assign_at)
        SELECT
            #{departmentId} as department_id,
            d.name as department_name,
            #{surveyId} as survey_id,
            NOW() as assign_at
        FROM departments d
        WHERE d.id = #{departmentId}
    </insert>

    <!-- 获取所有部门问卷信息 -->
    <select id="getDepartmentSurveys" resultType="DepartmentSurvey">
        SELECT * FROM department_survey where department_id =#{departmentId}
    </select>

    <!-- 检查发放过问卷 -->
    <select id="checkAssignedSurvey" resultType="boolean">
        SELECT COUNT(1) > 0 FROM department_survey WHERE survey_id = #{surveyId} AND department_id = #{departmentId}
    </select>
</mapper>